body {
    background-color: rgb(0, 145, 255);
    color: rgb(3, 3, 138);
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(138, 180, 235);
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: rgb(153, 196, 238)
}

p {
    font-size: 18px;
    line-height: 1.6;
}
